body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
  height: 100%;
  width: 100%;
  margin: 0;
}

header {
  background-color: #000000;
  position: fixed;
  width: 100%;
}

@media screen and (max-width: 480px) {
  header .logo {
    width: 60vw;
  }
}

@media screen and (min-width: 960px) {
  header .logo {
    float: left;
    width: 18vw;
    padding: 1vw 4vw;
  }

  .top {
    width: 100%;
  }
}
